.button {

    border: 1px solid var(--bg-white-200);
    border-radius: 4px;

    height: 35px;
    width: 40%;

    min-width: 100px;
    max-width: 130px;

    margin: 0;
    padding: 0;

    display: flex;
    box-sizing: border-box;

    font-family: 'Barlow Condensed', sans-serif;



    &.info {
        background-color: var(--bg-navy-200);
        transition: .6s ease all;

        strong {
            color: var(--bg-white-300);
        }

        &:hover {
            transition: .6s ease all;
            background-color: var(--bg-darkblue-500);
            cursor: pointer;
        }
    }

    &.success {
        background-color: var(--bg-green-100);
        transition: .6s ease all;

        strong {
            color: var(--bg-deepdark-300);
        }

        &:hover {
            transition: .6s ease all;
            background-color: var(--bg-green-500);
            cursor: pointer;
        }
    }

    &.alert {
        background-color: var(--bg-red-100);
        transition: .6s ease all;

        strong {
            color: var(--bg-white-300);
        }

        &:hover {
            transition: .6s ease all;
            background-color: var(--bg-red-500);
            cursor: pointer;
        }
    }

    &.warning {
        background-color: var(--bg-golden-300);
        transition: .6s ease all;

        strong {
            color: var(--bg-deepdark-500);
        }

        &:hover {
            transition: .6s ease all;
            background-color: var(--bg-golden-500);
            cursor: pointer;
        }
    }

    &.dark {
        background-color: var(--bg-deepdark-200);
        transition: .6s ease all;

        strong {
            color: var(--bg-white-300);
        }

        &:hover {
            transition: .6s ease all;
            background-color: var(--bg-deepdark-500);
            cursor: pointer;
        }
    }


    .button__group {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }

    .button__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 100%;
        flex-shrink: 0;
        border-left: 1px solid var(--bg-white-200);
        position: absolute;
        top: 0;
        right: 0;

        &.full {
            width: 100%;
            border: none;
        }
    }

    .button__title {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 0.9rem;
        letter-spacing: 0.07rem;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &.shared {
            width: calc(100% - 39px);
        }
    }

}